
<div th:replace="compartilhado/top"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Administradores</h1>
                    <p class="mb-4">Tabela que lista todos Adminstradores do Sistema </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Lista dos Administradores</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>NOME</th>
                                            <th>EMAIL</th>
                                            <th>ENDEREÇO</th>
                                            <th>AÇÃO</th>
                                            <th>AÇÃO</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>NOME</th>
                                            <th>EMAIL</th>
                                            <th>ENDEREÇO</th>
                                            <th>AÇÃO</th>
                                            <th>AÇÃO</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Samuel Isaias Guambe</td>
                                            <td>smuelguambe@gmail.com</td>
                                            <td>Matola</td>
                                            <td><a href="#" class="btn btn-warning">Alterar</td>
                                            <td><a href="#" class="btn btn-danger">Excluir</td>
                                        </tr>
                                        <tr>
                                            <td>Maria Antonio</td>
                                            <td>matia@gmail.com</td>
                                            <td>Maputo</td>
                                            <td><a href="#" class="btn btn-warning">Alterar</td>
                                            <td><a href="#" class="btn btn-danger">Excluir</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
<!--<th:block th:replace="compartilhado/baixo"></th:block>-->
<div th:replace="compartilhado/baixo"></div>

