<div th:replace="compartilhado/top" xmlns:th="http://thymeleaf.org"></div>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"> Edição da Categoria do Investigador</h1>
    <p class="mb-4"> A que vamos fazer a Edição dos CAtegoria </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="padding: 30px">
        <div class="card-header py-3">
            <form method="POST" th:action="@{'/categoriaInvestigadores/'+ ${categoriaInvestigador.id} + '/actualizar'}">
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <input type="text" class="form-control" th:value="${categoriaInvestigador?.categoria}"  required id="categoria" name="categoria" placeholder="Digita a Categoria">

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!--<th:block th:replace="compartilhado/baixo"></th:block>-->
<div th:replace="compartilhado/baixo"></div>

